
<script>
  $(document).ready(function() {
    $("#new-reservation h4").click(function() {
      $("#new-reservation div").slideToggle();
    });
  });
</script>


<p><%= link_to "Zarezervovať", new_reservation_path %></p>


<table class="courts-reservations">
  <thead>
    <tr>
      <th>Cas</th>
      <% @courts_cnt.times do |court_nr| %>
        <th>Kurt <%= court_nr + 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @timesheet.each do |ts_id, ts_title| %>
      <tr>
        <td class="timeslot-column"><%= ts_title %></td>
        
        <% @courts_cnt.times do |court_nr| %>
          <td class=<%= get_cell_class(@sel_date, ts_id, court_nr + 1) %> >
            <%= get_player_name_for_reservation(@sel_date, ts_id, court_nr + 1) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>