<%= link_to "Návrat", reservations_path %>

<h2>Nová rezervácia</h2>

<% if @reservation.errors.any? %>
  <ul class='errors'>
    <% @reservation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @reservation do |r| %>
  <div class="input-form-section">
    <%= r.label :player_id, "Klient" %>
    <%= r.select :player_id, Player.order(:lastname, :firstname, :name_suffix).map { |p| [p.fullname, p.id] }, { include_blank: true } %><br/>
    
    <%= r.label :res_date, "Dátum" %>
    <%= r.date_select :res_date, order: [:day, :month, :year] %><br/>
    
    <%= r.label :time_slot, "Čas začiatku" %>
    <%= r.select :time_slot, @timesheet.map { |slot| [slot[1], slot[0]] }, { include_blank: false } %><br/>

    <%= r.label :court_nr, "Kurt" %>
    <%= r.select :court_nr, @court_numbers %><br/>

    <%= r.label :reservation_status_id, "Stav rezervácie" %>
    <%= r.select :reservation_status_id, @reservation_statuses.map { |rs| [rs.status, rs.id] }, { include_blank: false } %><br/>

    <%= r.submit "Uložiť", class: "link-button" %>
    <%= link_to "Zrušiť", reservations_path %>
  </div>
<% end %>
