
<script>
  $(document).ready(function() {
    $("#new-reservation h4").click(function() {
      $("#new-reservation div").slideToggle();
    });
  });
</script>



<%= date_select("selected-date", "sel-date", order: [:day, :month, :year]) %>
<%= link_to "Potvrdiť", "#", id: "confirm-date" %>
<div id="new-reservation">
  <h4>Rezervovať si kurt</h4>
  <div>
    <p>
      Klient
      <span class="reservation-control"><%= select_tag :player_id, options_for_select(Player.order(created_at: :desc).map { |p| [p.fullname, p.id] }), { include_blank: false } %></span>
    </p>
    <p>
      Začiatok
      <span class="reservation-control"><%= time_select 'game', 'game_time', {minute_step: 30} %></span>
    </p>
    <p>
      Trvanie
      <span class="reservation-control"><%= select_tag :duration_id, options_for_select([['1 hodina', 1], ['90 minút', 2], ['2 hodiny', 3]]), { include_blank: false } %></span>
    </p>
    <p>
      <%= link_to "Rezervovať", @court_reservation, remote: true %>
    </p>
  </div>
</div>
<table class="courts-reservations">
  <thead>
    <tr>
      <th>Cas</th>
      <% @courts_cnt.times do |court_nr| %>
        <th>Kurt <%= court_nr + 1 %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @timesheet.each do |ts_id, ts_title| %>
      <tr>
        <td class="timeslot-column"><%= ts_title %></td>
        
        <% @courts_cnt.times do |court_nr| %>
          <td class=<%= get_cell_class(@sel_date, ts_id, court_nr + 1) %> >
            <%= get_player_name_for_reservation(@sel_date, ts_id, court_nr + 1) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>